#form {
    background-color: rgba(100, 149, 237, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: auto;
    margin: 64px auto;
    padding: 32px 16px;
    border: black 2px solid;
    border-radius: 24px;
}

#form > h1 {
    font-family: "Calibri", sans-serif;
}

.element {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    width: 90%;
    margin: 8px auto;
}

.element label {
    font-size: 20px;
    font-weight: bold;
}

.tools {
    display: flex;
    flex-direction: row;
}

.edit, .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
    border-radius: 32px;
    height: 24px;
    width: 24px;
    margin: 0 4px;
    transition-duration: .5s;
}

.edit:hover {
    background-color: rgb(255, 165, 0);
    border-radius: 0;
    transition-duration: .5s;
}

.delete:hover {
    background-color: rgb(255, 51, 51);
    border-radius: 0;
    transition-duration: .5s;
}

.answer {
    margin: 0 8px;
}

#add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    font-size: 32px;
    user-select: none;
    background-color: yellow;
    border: black 2px solid;
    border-radius: 8px;
    width: 32px;
    height: 32px;
}

#form > #add {
    margin-bottom: 20px;
}

#count {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Calibri", sans-serif;
    font-weight: bold;
    font-size: 24px;
    border: black 2px solid;
    border-radius: 8px;
    width: 64px;
}

#bottombar {
    width: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}